<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LOGIEET</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Icon header -->
  <link href="resources/assets/img/logoLogieet.ico" rel="icon">

  <!-- Google Fonts (tipografias) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files (propiedades de estilo)-->
  <link href="resources/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="resources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="resources/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="resources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="resources/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="resources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- CSS Principal -->
  <link href="resources/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= BARRA NAVEGADOR ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!--<a href="index.html"><img src="resources/assets/img/LogieetLog.svg" alt="" class="img-fluid"></a>-->
        <h1><a href="index.html">LOGIEET</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><strong>Inicio</strong></a></li>
          <li><a class="nav-link scrollto" href="#about"><strong>Nosotros</strong></a></li>
          <li><a class="nav-link scrollto" href="#services"><strong>Servicios</strong></a></li>
          <li><a class="nav-link scrollto" href="#features"><strong>Caracteristicas</strong></a></li>
          <li><a class="nav-link scrollto" href="#pricing"><strong>Precios</strong></a></li>
          <li><a class="nav-link scrollto" href="#contact"><strong>Contacto</strong></a></li>
          <li><button class="getstarted scrollto" id="show-login"><strong>Login</strong></button></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <!-- ======= Inicio ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Haz crecer tu negocio</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Mantente al tanto de tu negocio solo con un click</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto"><strong>Acerca</strong></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img class="circular"
            src="https://cdn.dribbble.com/users/1292677/screenshots/6139167/media/fcf7fd0c619bb87706533079240915f3.gif"
            class="img-fluid image-responsive">
        </div>
      </div>

  </section>
  <main id="main">
    <!-- ======= NOSOTROS ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nosotros</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Al contrario del pensamiento popular, el texto de Lorem Ipsum no
                es simplemente texto aleatorio.</li>
              <li><i class="ri-check-double-line"></i> Tiene sus raices en una pieza clásica de la literatura del Latin.
              </li>
              <li><i class="ri-check-double-line"></i> Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de
                Finnibus Bonorum et Malorum".</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Informacion ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
            data-aos="fade-right" data-aos-delay="150">
            <img src="resources/assets/img/logo.svg" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Clientes satisfechos</strong> consequuntur voluptas nostrum aliquid ipsam architecto ut.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Proyectos</strong> adipisci atque cum quia aspernatur totam laudantium et quia dere tan
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Años de experiencia</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate
                      non vel</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-file-lock"></i><br>
                    <p><strong>Seguridad</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
                  </div>
                </div>
              </div>
            </div><!-- -->
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Seccion de servicios ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Servicios</h2>
          <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Caracteristicas ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Caracteristicas</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Lorem Ipsum</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Dolor Sitema</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Sed perspiciatis</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Magni Dolores</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Nemo Enim</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Eiusmod Tempor</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Midela Teren</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Pira Neve</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Dirada Pack</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Moton Ideal</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Verdo Park</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ======= Precios ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Precios</h2>
          <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>PRUEBA</h3>
              <h4><sup>$</sup>0<span></span></h4>
              <ul>
                <li class="na">Rendimientos de empleados</li>
                <li class="na">Ganancias por mes</li>
                <li class="na">Utilidad por sucursal</li>
                <li class="na">Generar reporte</li>
                <li class="na">Filtro de datos</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Probar</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>MENSUAL</h3>
              <h4><sup>$</sup>19<span> / mensual</span></h4>
              <ul>
                <li>Rendimientos de empleados</li>
                <li>Ganancias por mes</li>
                <li>Utilidad por sucursal</li>
                <li>Generar reporte</li>
                <li>Filtro de datos</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>ANUAL</h3>
              <h4><sup>$</sup>29<span> / año</span></h4>
              <ul>
                <li>Rendimientos de empleados</li>
                <li>Ganancias por mes</li>
                <li>Utilidad por sucursal</li>
                <li>Generar reporte</li>
                <li>Filtro de datos</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Comprar</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!--  -->

    <!-- ======= Contacto ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contactanos</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>LOGIEET</h3>
              <p>Información de contacto proporcionada por el cliente.</p>
              <div class="social-links">
                <a href="#" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/logieet" class="facebook" target="_blank"><i
                    class="bi bi-facebook"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>C. de Meave 6-LOCAL 56, Centro Histórico, Cuauhtémoc,<br>06000 Ciudad de México, CDMX</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>Logieet@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+52 55 5161 6733</p>
              </div>

            </div>
          </div>
          <!--FORMULARIO CORREO NODE.JS-->
          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="/send-email" method="POST" id='formulario' role="form">
              <div class="form-group">
                <input type="text" name="clientName" class="form-control" id="clientName" placeholder="Nombre completo"
                  required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Dirección email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje"
                  required></textarea>
              </div>
              <div class="text-center">
                <br />
                <button id="btnShow" onclick='return enviarFormulario()' type="submit">Enviar</button>
              </div>
              <div id="alert" class="alert alert-warning collapse">
                <a id="linkClose" class="close" type="button">&times;</a>
                <div id='error'></div>
                <div id='success'></div>
              </div>
          </div>
          </form>
        </div>
        <!--FORMULARIO-->
      </div>

      </div>
    </section><!--  -->

  </main><!-- FIN MAIN -->
  <!--  LOGIN -->
  <div class="popup">
    <class class="d-flex justify-content-center">
      <class class="brand_logo_container">
        <img src="resources/assets/img/logo.svg" class="brand_logo" alt="Logo">
      </class>
    </class>
    <div class="close-btn">&times;</div>
    <div class="form">
      <h2>Bienvenido</h2>
      <form action="/" method="POST">
        <div class="form-element">
          <i class="bi bi-person-circle"></i>
          <label for="text">Usuario</label>
          <input type="text" name="user" id="user" placeholder="Usuario" required>
        </div>
        <div class="form-element">
          <i class="bi bi-unlock"></i>
          <label for="password">Password</label>
          <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
        </div>
        <class class="form-element">
          <input class="" type="submit" value="Ingresar">
        </class>
      </form>

      <div class="form-element">
        <a href="#">Olvido contraseña</a>
      </div>
    </div>
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>LOGIEET, S.A. DE C.V.</strong> Derechos reservados
          </div>
          <div class="credits">
            Diseñado por <strong> STELLAS </strong>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#header" class="scrollto"><strong>Inicio</strong></a>
            <a href="#about" class="scrollto"><strong>Nosotros</strong></a>
            <!--
              MODAL BOOTSTRAP
            -->
            <!--<a href="#"><button><strong>Políticas de privacidad</strong></button></a>-->
            <button type="button" class="btn btn-primary politicas" data-bs-toggle="modal"
              data-bs-target="#footerModalPol">
              <strong>Políticas de privacidad</strong>
            </button>
            <!--MODAL Politicas Priv-->
            <div class="modal fade" id="footerModalPol" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Políticas de privacidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="mainContentPV">
                      Analizamos cuidadosamente qué tipo de información necesitamos para proporcionar nuestros servicios
                      e intentamos limitar la información recopilada a lo que realmente necesitamos. En la medida de lo
                      posible, eliminamos o anonimizamos esa información cuando ya no la necesitamos. <br>
                      <strong>Los datos personales del usuario, que tenga algun tipo de interaccion con este sitio web:
                      </strong>
                    </p>
                    <ul>
                      <li>
                        <p class="mainContentPV">Se recopilaran, se almacenaran de forma segura, los cuales no seran
                          compartidos con nadie y garantizamos totalmente la proteccion de sus datos, ya que, nuestros
                          equipos trabajan incesantemente para proteger su información y garantizar la seguridad e
                          integridad de nuestra plataforma. <br>
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">En todo ese proceso, nuestro principio fundamental es que sus datos le
                          pertenecen, y nuestro objetivo es utilizarlos únicamente en su beneficio. <br>
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          Creemos que tiene el derecho de acceder a su información personal y controlarla,
                          independientemente de dónde viva. Puede tener derecho a corregir, modificar, eliminar,
                          trasladar a otro proveedor de servicios, restringir u objetar ciertos usos de su información
                          personal, así como solicitar acceso a ella. <br>
                        </p>
                      </li>
                    </ul>
                    En el caso de cualquier inconveniente o problema con este sitio web o de cualquier tipo, podran
                    comunicarse por medio de nuestras formas de contacto:
                    <strong>
                      <br>Telefono: +52 55 5161 6733
                      <br>Correo electronico: Logieet@gmail.com
                      <br>Direccion: C. de Meave 6-LOCAL 56, Centro Histórico, Cuauhtémoc,
                      06000 Ciudad de México, CDMX
                    </strong>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar y cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--FIN MODAL-->
            <!--<a href="#"><strong>Terminos de uso</strong></a>-->
            <button type="button" class="btn btn-primary politicas" data-bs-toggle="modal"
              data-bs-target="#footerModalTerm">
              <strong>Terminos de uso</strong>
            </button>
            <!--MODAL Politicas Priv-->
            <div class="modal fade" id="footerModalTerm" tabindex="-1" aria-labelledby="modalTitle2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle2">Terminos de uso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="mainContentPV">
                      ¡Le damos la bienvenida a la página de <strong>LOGIEET</strong> ! Al registrar una cuenta de
                      LOGIEET o al utilizar cualquier servicio de LOGIEET (según se define a continuación),
                      acepta regirse por los siguientes términos y condiciones
                      <strong>(“Términos del Servicio”)</strong>:<br>
                    </p>
                    <ul>
                      <li>
                        <p class="mainContentPV">
                          <strong>1-.</strong> Para disponer y hacer uso de los servicios, debe registrar una cuenta de
                          LOGIEET. Para ello, debe indicarnos su nombre completo, dirección, número de teléfono, una
                          dirección de correo electrónico válida y cualquier otra información que se indique como
                          obligatoria. LOGIEET puede rechazar su solicitud de cuenta o cancelar una cuenta ya creada,
                          por cualquier razón y a su entera discreción.
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          <strong>2-.</strong> Para poder abrir una cuenta, debe ser mayor de 18 años o tener al menos
                          la mayoría de edad en la jurisdicción donde reside y desde donde utiliza los Servicios.
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          <strong>3-.</strong> Usted es responsable de la seguridad de su contraseña. LOGIEET no puede
                          ser ni se hará responsable de ninguna pérdida o daño derivado del hecho de que usted no pueda
                          mantener la seguridad de su cuenta y su contraseña.
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          <strong>4-.</strong> Se compromete a no reproducir, duplicar, copiar, vender, revender ni
                          explotar los servicios, su uso o el acceso a ellos, total o parcialmente, sin el permiso
                          expreso por escrito de LOGIEET.
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          <strong>5-.</strong> Se compromete a no eludir, evitar o sortear ninguna de las limitaciones
                          técnicas de los servicios, a no utilizar ninguna herramienta para activar funciones o
                          funcionalidades que estén desactivadas en los servicios, ni a decodificar, desensamblar o
                          aplicar ingeniería inversa a los servicios.
                        </p>
                      </li>
                      <li>
                        <p class="mainContentPV">
                          <strong>6-.</strong> Se compromete a no acceder a los servicios y a no monitorizar ni el
                          material ni la información de los servicios mediante robots, arañas, rastreadores u otros
                          medios automatizados.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar y cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!---->
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="resources/assets/vendor/purecounter/purecounter.js"></script>
  <script src="resources/assets/vendor/aos/aos.js"></script>
  <script src="resources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="resources/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="resources/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="resources/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="resources/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Template Main JS File -->
  <script src="resources/assets/js/main.js"></script>
  <script src="resources/assets/js/login.js"></script>
  <script src="resources/assets/js/validacion.js"></script>
  <script type="text/javascript">
    $("#btnShow").click(function () {
      $("#alert").show('fade');
    });
    $("#linkClose").click(function () {
      $("#alert").hide('fade');
    });
  </script>

</body>

</html>